#h1 {
    text-align: center;
    text-shadow:1px 1px 2px red, 0 0 1em blue, 0 0 0.2em red;
    color:rgb(159,10,0);
    font-size:500%;
}

#first {
    text-align: center;
    text-shadow:1px 1px 2px red, 0 0 1em blue, 0 0 0.2em red;
    color:whitesmoke;
    font-size:200%;
}

#h2 {
    text-align: center;
    text-shadow:1px 1px 2px red, 0 0 1em blue, 0 0 0.2em red;
    color:rgb(159,10,0);
    font-size:500%;
}

#second {
    text-align: center;
    background-color:black;
    text-shadow:1px 1px 2px red, 0 0 1em blue, 0 0 0.2em red;
    color:whitesmoke;
    border:1px solid red;
    width:53%;
    margin-left: 350px;
}

thead {
    font-size:200%;
}

td {
    border:1px solid red;
    text-align:center;
    padding:8px;
    width:10%
}
